@tailwind base;
@tailwind components;
@tailwind utilities;

.pixelate {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
}

.checkoutInput{
  border-color: hsl(var(--nextui-foreground));
  border-width: 1px;
  background-color: hsl(var(--nextui-background));
  border-radius: 0.375rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar::-webkit-scrollbar {
    width: 1px;
  }
  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: hsl(var(--nextui-foreground));
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}